.footer {
    background-color: #333;
    color: #f5efef;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .footer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 1200px;
      
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
        padding: 15px;
      }
    }
  
    .footer-logo {
      margin-bottom: 20px;
  
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
  
      .logo {
        max-width: 120px;
        height: auto;
      }
    }
  
    .footer-links {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
  
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
  
      a {
        color: #f5efef;
        text-decoration: none;
        margin-bottom: 10px;
        transition: color 0.3s;
        font-size: 0.8rem;
  
        &:hover {
          color: #024b9e;
        }
      }
    }
  
    .footer-copy {
      font-size: 0.875rem;
  
      @media (min-width: 768px) {
        font-size: 1rem;
      }
    }
  }
  